@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1c1c;
    --card: #ffffff;
    --card-foreground: #1c1c1c;
    --popover: #ffffff;
    --popover-foreground: #1c1c1c;
    --primary: #1e1e2e;
    --primary-foreground: #d0d0d0;
    --secondary: #e4e4e4;
    --secondary-foreground: #1e1e2e;
    --muted: #e4e4e4;
    --muted-foreground: #6e6e6e;
    --accent: #e4e4e4;
    --accent-foreground: #1e1e2e;
    --destructive: #ff3333;
    --destructive-foreground: #d0d0d0;
    --border: #e4e4e4;
    --input: #e4e4e4;
    --ring: #1c1c1c;
    --chart-1: #ff4d4d;
    --chart-2: #2bb67d;
    --chart-3: #2f5b65;
    --chart-4: #f6b93d;
    --chart-5: #e69929;
    --radius: 0.5rem;
    --sidebar-background: #f7f7f7;
    --sidebar-foreground: #404040;
    --sidebar-primary: #1e1e1e;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #f2f2f2;
    --sidebar-accent-foreground: #1e1e1e;
    --sidebar-border: #e4e4e4;
    --sidebar-ring: #ccbd99;
  }
  .dark {
    --background: #1c1c1c;
    --foreground: #d0d0d0;
    --card: #1c1c1c;
    --card-foreground: #d0d0d0;
    --popover: #1c1c1c;
    --popover-foreground: #d0d0d0;
    --primary: #d0d0d0;
    --primary-foreground: #1e1e2e;
    --secondary: #4a4a4a;
    --secondary-foreground: #d0d0d0;
    --muted: #4a4a4a;
    --muted-foreground: #6f6f6f;
    --accent: #4a4a4a;
    --accent-foreground: #d0d0d0;
    --destructive: #ff6600;
    --destructive-foreground: #d0d0d0;
    --border: #4a4a4a;
    --input: #4a4a4a;
    --ring: #d0d0d0;
    --chart-1: #4c8ef1;
    --chart-2: #2a9d6e;
    --chart-3: #ffcc00;
    --chart-4: #b66ee2;
    --chart-5: #e20e70;
    --sidebar-background: #1e1e1e;
    --sidebar-foreground: #f2f2f2;
    --sidebar-primary: #e3e55d;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #2e2e2e;
    --sidebar-accent-foreground: #f2f2f2;
    --sidebar-border: #2e2e2e;
    --sidebar-ring: #ccbd99;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
